* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  border-radius: 50px;
}
fieldset legend {
  padding-top: 1.5rem;
}

body {
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/*transition*/
a,
.btn {
  transition: all 300ms ease;
}

/*desktop nav*/
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-links a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}
.logo:hover {
  cursor: default;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background: black;
  transition: all 300ms ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background: white;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

/*.section__text{
    display: flex;
  }*/
.profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.section__pic-container img {
  transition: all 0.3ms ease-in-out;
}
.section__pic-container img:hover {
  width: 390px;
  height: 390px;
}

.section__text {
  align-self: center;
  text-align: center;
}
.section__text p {
  font-weight: 600;
  color: #000;
}

.section__text-p2 {
  text-align: center;
  align-self: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.b4-title {
  text-align: center;
  color: black;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: 400;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease-in-out;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-btn-color-1,
.btn-btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  padding: 0.5rem;
  border-radius: 99999999px;
}
.btn-btn-color-1:hover,
.btn-btn-color-2:hover {
  cursor: pointer;
}

.btn-btn-color-1,
.btn-btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
  transition: all 300ms ease-in-out;
}

.btn-btn-color-1:hover {
  background: #000;
}

.btn-btn-color-2:hover {
  border: white 0.1rem solid;
}

.section-container {
  display: flex;
  gap: 1.5rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

#about {
  position: relative;
}

.about-containers {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2rem;
}

fieldset,
.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  text-align: center;
}

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(44, 44, 44);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
article .icon {
  cursor: default;
}

/*#projects{

}*//*# sourceMappingURL=style.css.map */